
[sssd]
domains = your_domain_here
config_file_version = 2
services = nss, pam

[domain/your_domain_here]
ad_domain = your_domain_here
krb5_realm = CAPITAL_YOUR_DOMAIN
realmd_tags = joined-with-adcli 
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_id_mapping = True
use_fully_qualified_names = False
fallback_homedir = /home/%u
simple_allow_users = $
access_provider = simple

